/*
* Contains various CSS classes that are used for text output.
*/

.bold{
    font-weight: bold;
}





/*
Item display CSS classes
*/
.itemTypeHeader{
    font-weight: bold;
    font-size: 40px;
    text-align:center;
}
.itemSubtypeHeader{
    font-weight: bold;
    font-size:25px;
    text-align:center;
}
.itemName{
    text-align:center;
}