/*
* Contains various CSS classes that are used for text output.
*/

.bold{
    font-weight: bold;
}





/*
Item display CSS classes
*/
.itemTypeHeader{
    font-weight: bold;
    font-size: 40px;
    text-align:center;
}
.itemSubtypeHeader{
    font-weight: bold;
    font-size:25px;
    text-align:center;
}
.itemName{
    text-align:center;
}
/*
Toolbar CSS classes
*/
/*Applied to all toolbar buttons*/
.tbarBtn{
    background-image: url('data/gui/big_blue.png');
    background-repeat: no-repeat;
    height: 35px;
    width: 155px;
    font: bold 14pt Tahoma;
    border:0;
}