@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Droid Sans'), local('DroidSans'), url('../fonts/droid-sans/droid-sans.ttf');
}

@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('../fonts/droid-sans/droid-sans-bold.ttf');
}
