/*
* Contains various CSS classes that are used for text output.
*/

.bold {
	font-weight: bold;
}





/*
Item display CSS classes
*/
.itemTypeHeader {
	font-weight: bold;
	font-size: 40px;
	text-align:center;
}
.itemSubtypeHeader {
	font-weight: bold;
	font-size:25px;
	text-align:center;
}
.itemName {
	text-align:center;
}
/*
Toolbar CSS classes
*/
/*Automatically added to all toolbar inputs*/
.tbarInput {
	background-repeat: no-repeat;
	font: bold 14pt Tahoma, 'Droid Sans', sans-serif;
	border:0;
	margin: 3px;
}
/*Automatically added to all toolbar labels*/
.tbarLbl {
	font-style: italic;
}

/*Button backgrounds - NOTE: Alternatively can simply apply them via code with Jquery .css() method*/
.bigBlueButton {
	background-image: url('../img/gui/big_blue.png');
	height: 35px;
	width: 155px;
}
.bigGoldButton {
	background-image: url('../img/gui/big_gold.png');
	height: 35px;
	width: 155px;
}
.bigGrayButton {
	background-image: url('../img/gui/big_gray.png');
	height: 35px;
	width: 155px;
}
.bigGreenButton {
	background-image: url('../img/gui/big_green.png');
	height: 35px;
	width: 155px;
}
.smallBlueButton {
	background-image: url('../img/gui/small_blue.png');
	height: 35px;
	width: 155px;
}
.smallGoldButton {
	background-image: url('../img/gui/small_gray.png');
	height: 35px;
	width: 155px;
}
.smallGreenButton {
	background-image: url('../img/gui/small_green.png');
	height: 35px;
	width: 155px;
}
